@import url("colors.css");

html,
body {
  background: var(--color-background);
  color: var(--color-text);
  height: 100svh;
  margin: 0;
  padding: 0;
}

input {
  background-color: var(--color-surface);
  border: 1px var(--color-secondary) solid;
  outline: none;
  color: var(--color-text);
  flex: 1;
  font-size: x-large;
  padding: 0 0.6rem 0 0.6rem;
}

button {
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-surface);
  outline: none;
  flex-basis: 6rem;
  cursor: pointer;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  height: 3rem;
  width: 50%;
}
